* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    background-color: #d3cdcd;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

button.header-right {
    margin: 0 16px;
    padding: 0 12px;
    border-radius: 7px;
    box-shadow: 2px 2px 16px rgba(0,0,0,.2);
    border: none;
    background-color: white;
    color: #363636;
}

button.header-right:hover {
    background-color: #f4f4f4;
}

h1.header-left {
    padding-left: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #363636;
}

/* GRID */

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 960px;
    height: 100%;
}

.square {
    aspect-ratio: 1; /* Maintains height to square ratio */
    border: 1px solid #f4f4f4;
    background-color: white;
}